{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@BigoenAdminTwoTheme/crud/edit.html.twig' %}
{% trans_default_domain 'admin' %}

{% block edit_form %}
	{{ form(edit_form) }}
	<div class="card card-custom">
		<div class="card-body">
			<div {{ stimulus_controller('gallery-dropzone', {'galleryCategoryId': entity.instance.id}) }}></div>
		</div>
	</div>
{% endblock edit_form %}

{% block body_javascript %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
{% endblock body_javascript %}
